/* .event-page{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 22px;
} */

.event-page-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 22px;
}
