.main-container {
  margin: 0;
  padding: 66px 44px;
  background-image: linear-gradient(198deg, #bba9e2aa 0%, #ffffff 100%);
}

.hero-section {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.hero-btn > .hero-btn-1 {
  margin: 1px 4px 1px 0px;
  padding: 12px 22px;
  font-size: 14px;
}

.hero-btn > .hero-btn-2 {
  margin: 1px 0px 1px 4px;
  padding: 12px 22px;
  font-size: 14px;
}

.hero-head {
  font-size: 50px;
  font-family: "Rubik", "sans-serif";
  font-weight: 700;
  color: rgba(9, 9, 9, 0.842);
}

.hero-head > span {
  color: #a87fff;
}

.left-hero-section,
.right-hero-section {
  margin: 44px 0px;
}

.left-hero-section p {
  font-size: 22px;
}

.hero-btn-1 {
  /* background-color: #a87fff; */
  outline: 1px solid #5d4296;
  color: rgb(40, 39, 39) !important;
  letter-spacing: 1.15px;
  transition: all;
  transition-timing-function: linear;
  transition-duration: 0.25s;
}

.hero-btn-1:hover {
  background-color: #5d4296;
  color: white !important;
}

.hero-btn-2 {
  outline: 1px solid #5d4296;
  background-color: #5d4296;
  color: white;
  letter-spacing: 1.15px;
  transition: all;
  transition-timing-function: linear;
  transition-duration: 0.25s;
}

.hero-btn-2:hover {
  outline: 1px solid #5d4296;
  color: rgb(40, 39, 39) !important;
}

.hero-head p {
  color: rgb(93, 93, 93);
}